@model Application.ViewModels.SavePokemonViewModel
@{
    ViewData["Title"] = "Borrar Pokémon";
}

<div class="container-fluid">
    <div class="row">
        <div class="card p-0 col-6 offset-3">
            <div class="card-header">
                <h4 class="text-center">¿Estás seguro que quieres borrar @Model.Name?</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="Id"/> 
                    <button type="submit" asp-controller="Pokemon" asp-action="DeletePost" class="btn btn-danger">Aceptar</button>
                    <a asp-controller="Pokemon" asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>