@model List<Application.ViewModels.PokemonTypeViewModel>
@{
    ViewData["Title"] = "Tipos de pokémones";
}

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-4 offset-4">
            <h4 class="text-center bg-white p-2 b-radius"><i>Tipos de Pokémones</i></h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a class="btn btn-success w-100" asp-controller="PokemonType" asp-action="Create">Crear tipo de pokémon</a>
        </div>
    </div>
    <div class="row">
        @foreach (var pokemonType in Model)
        {
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>@pokemonType.Name</h4>
                    </div>
                    <div class="card-body align-group-end">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" asp-controller="PokemonType" asp-action="Edit" asp-route-id="@pokemonType.Id"><i class="fa fa-pencil"></i> Editar</a>
                            <a class="btn btn-sm btn-outline-danger" asp-controller="PokemonType" asp-action="Delete" asp-route-id="@pokemonType.Id"><i class="fa fa-trash"></i> Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

