@model List<Application.ViewModels.RegionViewModel>
@{
    ViewData["Title"] = "Regiones";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 offset-9 mb-3">
            <a class="btn btn-success w-100" asp-controller="Region" asp-action="Create">Crear región</a>
        </div>
    </div>
    <div class="row">
        @if (Model == null || Model.Count() == 0)
        {
            <h4>No hay regiones en el sistema</h4>
        }
        else
        {
            @foreach (var region in Model)
            {
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h4>@region.Name</h4>
                        </div>
                        <div class="card-body align-group-end">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-controller="Region" asp-action="Edit" asp-route-id="@region.Id"><i class="fa fa-pencil"></i> Editar</a>
                                <a class="btn btn-sm btn-outline-danger" asp-controller="Region" asp-action="Delete" asp-route-id="@region.Id"><i class="fa fa-trash"></i>Borrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

