@model Application.ViewModels.RegionViewModel
@{
    bool editMode = !(Model.Id == 0);
    string title = editMode ? "Editar" : "Crear";
    string action = editMode ? "Edit" : "Create";
    string message = editMode ? "Editar región" : "Crear región";
    ViewData["Title"] = $"{title} región";
}

<div container-fluid>
    <div class="row">
        <div class="card p-0 col-6 offset-3">
            <div class="card-header bg-black text-white">
                <h4 class="text-center">@message</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Region" asp-action="@action">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Nombre</label>
                        <input asp-for="Name" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <input asp-for="Id" type="hidden" />
                    </div>

                    <div class="align-group-end">
                        <div>
                            <button class="btn btn-primary" type="submit">Guardar</button>
                            <a class="btn btn-secondary" asp-controller="Region" asp-action="Index">Volver atrás</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

